* {
    font-family: 'Rubik', sans-serif;
    --main-color: #FFFF00;
    --secondary-color: #E6C715; /* Kind of dirty yellow so it contrasts with the white background */
    --gray: #F5F5F5;
}

body {
    margin: 0;
}

.entry-form input[type=text],
.entry-form input[type=date],
.entry-form select,
form input[type=submit],
form button {
    margin: 0;
    width: inherit;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.page-header,
.page-footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.page-header {
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.page-header > span, nav {
    padding-top: 15px;
}

.page-footer {
    background-color: var(--gray);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1rem;
}

.layout-horizontal {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.border-form-wrapper {
    border: 1px lightgray solid;
    padding: 1rem 2rem 1.5rem 2rem;
}

.caption {
    font-size: 28pt;
    text-align: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-caption {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.header-nav {
    display: flex;
    gap: 0.7rem;
    margin-left: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
}

.header-nav a {
    font-weight: bold;
}

.user-controls,
.trademark {
    margin-left: auto;
    display: grid;
    align-items: center;
}

.profile-picture {
    margin-right: 10px;
    height: 19px;
    grid-row: span 2;
    display: flex;
    align-items: center;
    border-radius: 99px;
    padding: 10px;
}

.user-controls a,
.username {
    font-size: .9rem;
}

.username {
    padding-top: 3px;
}


.user-controls a {
    grid-column: 2;
    margin-right: 10px;
}

.footer-links {
    width: 100%;
}

.trademark {
    font-size: 9pt;
}

.yellow-btn,
.white-btn {
    margin-left: auto;
    border: 1px solid black;
    padding: 0.45rem 1.8rem;
    color: black;
    font-size: .75rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.yellow-btn {
    background-color: var(--main-color);
}

.white-btn {
    background-color: white;
}

form .white-btn, 
form .yellow-btn {
    margin-left: 0;
}

ul {
    margin-block-start: .5rem;
    margin-block-end: 0;
    font-size: .8rem;
}

.login-error {
    font-size: .9rem;
    opacity: 60%;
}

li::marker {
    color: red;
}

.names-wrapper div {
    width: 100%;
}

label {
    font-size: .8rem;
}

input[type=password],
input[type=email],
input[type=text] {
    padding: .3rem;
}

.proportion-40 {
    width: 40%;
}

.reset-password-email {
    margin-bottom: .3rem;
}