* {
    font-family: 'Rubik', sans-serif;
    --main-color: #FFFF00;
    --secondary-color: #E6C715; /* Kind of dirty yellow so it contrasts with the white background */
    --gray: #F5F5F5;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.page-header,
.page-footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.page-header {
    margin-top: .5rem;
}

.page-header > span, nav {
    padding-top: 15px;
}

.page-footer > span, nav {
    padding-top: 15px;
}

.page-footer {
    background-color: var(--gray);
    padding-top: 10px;
    padding-bottom: 10px;
}

.layout-1-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 84vh;
}

.border-form-wrapper {
    border: 1px lightgray solid;
    padding: 1rem 3rem 1.5rem 2rem;
}

.caption {
    font-size: 28pt;
    text-align: center;
}

.logo-caption {
    font-size: 1.4rem;
}

.header-nav {
    width: 100%;
    display: flex;
    gap: .7rem;
    margin-left: 1rem;
    align-items: center;
}

.header-nav a {
    font-weight: bold;
}

.user-controls,
.trademark {
    margin-left: auto;
    display: grid;
}

.profile-picture {
    margin-right: 10px;
    grid-row: span 2;
    display: flex;
    align-items: center;
    border-radius: 99px;
    padding: 10px;
}

.user-controls a {
    grid-column: 2;
    margin-right: 10px;
}

.footer-links {
    width: 100%;
}

.trademark {
    font-size: 9pt;
}

.register-btn,
.login-btn {
    margin-left: auto;
    border: 1px solid black;
    padding: 0.45rem 1.8rem;
    color: black;
    font-size: .75rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.register-btn {
    background-color: var(--main-color);
}

.login-btn {
    background-color: white;
}

ul {
    margin-block-start: .5rem;
    margin-block-end: 0;
    font-size: .8rem;
}

.help-text {
    font-size: .8rem;
    opacity: 70%;
}

li::marker {
    color: red;
}

.names-wrapper {
    display: flex;
    gap: 1rem;
}

.names-wrapper div {
    width: 100%;
}

label {
    font-size: .8rem;
}

input,
form .register-btn,
form .login-btn {
    margin-top: .6rem;
}

input[type=password],
input[type=email],
input[type=text] {
    width: 100%;
    padding: .3rem;
}

.proportion-40 {
    width: 40%;
}

.login-bottom .login-btn {
    margin: 0;
}

.login-bottom {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}