.status {
    padding-bottom: .5rem;
    font-size: .8rem;
    color: gray;
    display: flex;
    justify-content: center;
}

.entry-box-wrapper {
    border: 1px solid lightgray;
    overflow-x: auto;
    scrollbar-color: var(--secondary-color) white;
}

.entry-grid {
    padding: 1rem .5rem .5rem 1rem;
    max-width: 70vw;
    min-height: 67vh;
    min-width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-grid input[type=date] {
    width: auto;
    margin-top: 0;
}

.entry-grid-controls button {
    border: 0;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
}

.entry-grid-controls {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0.5rem;
    gap: 0.6rem;
    align-items: center;
    display: none;
    height: 2rem;
}

.entries {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    scrollbar-color: var(--secondary-color) transparent;
    scroll-behavior: smooth;
    width: fit-content;
    max-height: 60vh;
    padding-right: .5rem;
}

.entries img {
    animation: loading_animation 2s infinite linear;
}

.middle {
    justify-content: center;
    gap: 1.5rem;
}

.entry-form-wrapper {
    padding: .5rem;
    width: 15%;
    min-width: 10rem;
}

.entry-wrapper {
    border: 1px black solid;
    border-radius: 20px;
    padding: .3rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.entry-data {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    align-items: flex-start;
    max-width: 20rem;
    min-width: 8rem;
}

.entry-data span {
    text-align: left;
}

.entry-date {
    padding: 0 1rem;
    margin-left: auto;
}

.accent {
    color: var(--secondary-color);
}

.entry-btn {
    height: 10px;
    width: 10px;
    border-radius: 99px;
    flex-shrink: 0;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.entry-form {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.entry-form>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#income {
    accent-color: green;
}

#expense {
    accent-color: red;
}

.entry-form-radios {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px lightgray solid;
    border-radius: 20px;
    padding: .5rem;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}

.entry-form button {
    margin-left: 0;
    margin-right: auto;
}

select,
input[type=date] {
    width: 100%;
    padding: .3rem;
}

input[type=radio],
.entry-form-radios label,
.fa-solid {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.select {
    border-style: dashed;
    background-color: var(--gray);
}

.edit-mode {
    display: none;
    border: 1px gray solid;
    font-size: .8rem;
    width: fit-content;
    padding: 3px;
    margin-bottom: 0.5rem;
    background: var(--gray);
}

.form-error {
    font-size: .9rem;
    opacity: 60%;
}

.layout-horizontal {
    padding: 3.1rem 0;
}

.new-animate {
    animation: new-animation 500ms 5 linear;
}

@keyframes loading_animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes new-animation {
    0% {
        border-style: solid;
        background-color: white;
    }

    50% {
        border-style: dashed;
        background-color: var(--gray);
    }

    100% {
        border-style: solid;
        background-color: white;
    }
}