.login-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-bottom a {
    font-size: .8rem;
    margin-left: 5rem;
}

.flash-notice {
    color: green;
    opacity: 80%;
    font-size: .9rem;
    margin-top: .5rem;
}