<div class="entry-box-wrapper">
    {% block content %}{% endblock %}
	<div class="entry-grid">
		<div class="entries" data-entry-target="entriesGrid" data-admin-target="entriesGrid" data-loader-url-value="/api/entries">
			<img src="{{ asset('images/logo.png') }}" alt="SpendScout Logo" height="50" width="50"/>
		</div>
		<div class="entry-grid-controls" data-entry-target="entryControls">
			<button class="entry-filter-btn" data-entry-target="filterBtn" data-action="entry#filterBtnClick">Filter</button>
			<button class="entry-sort-btn" data-entry-target="sortBtn" data-action="entry#sortBtnClick">Sort</button>
			<span class="underline" data-entry-target="byText"></span>
			<button class="date-btn" data-entry-target="dateBtn"></button>
			<button class="control-2" data-entry-target="control2"></button>
			<div class="control-3" data-entry-target="control3"></div>
		</div>
	</div>
</div>
