{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/mytags.css') }}" rel="stylesheet" data-turbo-track="reload">
{% endblock %}

{% block page_content %}
	<div class="layout-horizontal" data-controller="mytags">
		<div class="tags-grid" data-mytags-target="tagsGrid">
			{% for tag in user_tags %}
				<div class="tag-wrapper" data-id="{{ tag.id }}">
					{{ tag.name }}
                    <div>
					<i class="fa-solid fa-pencil fa-xl" data-action="click->mytags#editMode"></i>
					<i class="fa-solid fa-trash fa-xl" data-action="click->mytags#deleteTag"></i>
                    </div>
				</div>
			{% endfor %}
            {% if user_tags is empty %}
            No tags to show
            {% endif %}
		</div>
		<div class="tags-form">
			<div class="form-status" data-mytags-target="tagsFormStatus">Create Tag</div>
			<div>
				<div class="form-error" data-mytags-target="formError"></div>
				<input type="text" id="tag-name" name="_name" placeholder="Tag name" data-mytags-target="tagsFormName">
			</div>
			<button type="submit" id="submit-btn" class="yellow-btn" data-action="mytags#tagFormSubmit" data-mytags-target="tagEditBtn">Save</button>
		</div>
	</div>
{% endblock %}
